{% extends "base.html" %}

{% block title %}
Jashar
{% endblock %}

{% block body %}
    <form action="/play" method="POST">
        <div class="input-field col s12">
            <select name="tribe" id="tribe">
            <option value="" disabled selected>Choose your tribe</option>
            <option value="Judah">Judah</option>
            <option value="Gad">Gad</option>
            <option value="Naphtali">Naphtali</option>
            <option value="Zebulun">Zebulun</option>
            </select>
            <label>Tribe</label>
            <input class="btn grey darken-1" type="submit" value="Play">
        </div>

    </form>

{% endblock %}
